<div class="wraper">
  <div class="container">
    <div class="row" style="margin-top: 40px;">
      <div class="col-md-2 accroche">
        <h5>SUIVEZ</h5>
        <h5>VOTRE CHANTIER</h5>
        <h5>EN TEMPS RÉEL</h5>
      </div>
      <div class="col-md-8">
        <div class="avancements">
          <h3 class="text-center">AVANCEMENT DU CHANTIER</h3>
          <div class="scroll">
            <% @avancements.each do |avancement| %>
            <div class="card">
              <h5><span style="margin-right: 30px;"><%= avancement.date %></span><%= avancement.title %></h5>
            </div>
            <div class="panel-body">
                <i class="fa fa-caret-right" aria-hidden="true" style="color: #f65d07"></i> <%= avancement.description %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-2" style="text-align: right;">
        <%= image_tag("logo1.png", class: "logo1") %>
        <%= image_tag("logo2.png", class: "logo1") %>
      </div>
    </div>
</div>

<div class="text-center">
  <p style="color: white; letter-spacing: 2px; font-size: 11px;">Powered by ALTAREA COGEDIM</p>
</div>


