<div class="wraper">
  <div class="container">
    <div class="row" style="margin-top: 40px;">
      <div class="col-md-2 col-xs-12 accroche">
        <h5>SUIVEZ</h5>
        <h5>LE CHANTIER</h5>
        <h5>DU 33</h5>
        <h5 style="margin-bottom: 35px">CARDINAL LEMOINE</h5>
        <a href="http://www.cardinal-lemoine.com/" target="_blank">
          <%= image_tag("img.png", class: "img") %>
        </a>
      </div>
      <div class="col-md-8 col-xs-12">
        <div class="avancements">
          <h3 class="text-center">Les travaux en cours</h3>
          <div class="scroll">
            <% @avancements.each do |avancement| %>
              <div class="card1">
              <div class="card">
                <h5><span style="margin-right: 30px;"><%= avancement.date %></span><%= avancement.title %></h5>
              </div>
              <div class="panel-body">
                <i class="fa fa-caret-right" aria-hidden="true" style="color: #f65d07"></i> <%= avancement.description.html_safe %>
              </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-12 text-center accroche2">
        <h5>UN PROGRAMME</h5>
        <%= image_tag("logo1.png", class: "logo1") %>
        <%= image_tag("logo2.png", class: "logo1", style: 'margin-right: 3px') %>
      </div>
    </div>
</div>

<div class="text-center powered">
  <a href="https://www.hopwork.fr/profile/ghislainchavanne2" target="_blank">
  <p style="color: white; letter-spacing: 2px; font-size: 11px;">Powered by GC</p>
  </a>
</div>


